<div class="container">
    <div class="row">
      <nav class="navbar navbar-default nav-principal" role="navigation">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reset">
              <img src="images/banner_header.jpg" class="img-responsive">
          </div>
          <div class="navbar-header">
              <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">MENU
                  <span class="sr-only">Toggle navigation</span>
              </button>
              
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse navbar-ex1-collapse">
             <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-offset-3 col-xs-offset-0 col-md-offset-2 col-sm-offset-1">
                  <ul class="nav navbar-nav text-center">
                      <li class=><a href="home">Home</a></li>
                      <li><a href="novedades">Novedades</a></li>
                       <li class="dropdown">
                        <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multimedia <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="galeria-videos">Galer&iacute;a Videos</a></li>
                          <li><a href="galeria-imagenes">Galer&iacute;a Im&aacute;genes</a></li>
                        </ul>
                      </li>
                  </ul>
              <span></span>
              </div>
          </div><!-- /.navbar-collapse -->
      </nav>
    </div>
</div>